:root {
  --bg-color: #0f0f0f;
  --txt-clr: #ffffff;
  --main: #6947ef;
  --purple: #6947ef;
  --red: #ef476f;
  --blue: #479eef;
  --green: #4ec661;
  --yellow: #cbac40;

  --title-font: "Syne", sans-serif;
  --txt-font-abel: "Abel", sans-serif;
  --txt-font-raleway: "Raleway", sans-serif;
  --txt-font-nobile: "Nobile", sans-serif;
  --num-font: "JetBrains Mono", monospace;

  --main-padding: 2rem;
}

header {
  padding: var(--main-padding) 15rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 7rem;
  cursor: pointer;
  transform: translateX(-30rem);
  transition: 0.3s all ease;
  animation: translateX- 0.5s 5s linear forwards;
}
.logo .fire {
  opacity: 0;
  animation: light-up 0.5s 0.5s linear forwards;
}

.nav-list {
  display: none;
}
.nav-list.active {
  display: inline;
}
.nav-indicator {
  --dimension: 4rem;

  border: 2px solid var(--main);
  border-radius: 100%;

  width: var(--dimension);
  line-height: calc(var(--dimension) - 0.5rem);

  text-align: center;
  color: var(--txt-clr);
  font-size: 2rem;
  position: relative;

  font-family: var(--txt-font-abel);
  cursor: pointer;
  transform: translateY(-20rem);
  transition: 0.3s all ease;
  animation: translateY 0.5s 5s linear forwards;
}
.nav-indicator::after {
  content: "01";
  font-size: 1.5rem;
  position: absolute;
  top: -50%;
  right: -2rem;
  color: var(--main);
  font-weight: 900;
  font-family: var(--num-font);
}
.contact {
  --dimension: 4rem;

  font-size: 2rem;
  color: var(--txt-clr);
  text-align: center;
  font-family: var(--txt-font-abel);

  border: 3px solid var(--main);
  border-radius: 100%;

  width: var(--dimension);
  line-height: calc(var(--dimension) - 0.5rem);
  position: relative;
  cursor: pointer;
  transform: translateX(20rem);
  transition: 0.3s all ease;
  animation: translateX 0.5s 5s linear forwards;
}
.contact::after {
  --dimension: 0.7rem;
  content: "";
  width: var(--dimension);
  height: var(--dimension);
  border-radius: 50%;
  background-color: var(--main);
  position: absolute;
  top: 0rem;
  right: -1rem;
}
@keyframes translateX- {
  0% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translateX {
  0% {
    transform: translateX(20rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes translateY {
  0% {
    transform: translateY(-20rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes light-up {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

#border-circle {
  /* stroke: none; */
}
#circle-fill {
}

#L,
#L_2,
#U {
}
